$primary: #3563E9 !default;
$white-primary:#54A6FF !default;
$white:  #FFF !default;
$white-gray : rgba(195, 212, 233, 0.40) !default;
$gray: #596780 !default;
$black : #1A202C !default;
$h6-gray: #90A3BF !default;
$bg: #F6F7F9;